extends layout

block body
  div.container(ng-controller='AppCtrl')
    div.row
      div.col-sm-3
        div.panel.panel-default
          div.panel-heading
            h3 Stories
          ul.nav.nav-pills.nav-stacked(ng-repeat='story in stories')
            li(role='presentation'
               ng-class='{active: story.id == selectedStory.id}')
              a(ng-click='selectStory(story)') {{story.name}}
          ul.nav.nav-pills.nav-stacked
            li
              a(ng-click='showNewStoryTab()') <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add Story
      div.col-sm-6
        div.panel.panel-default
          div.panel-heading
            h3 Current Story
          div.panel-body
            div(ng-show='selectedStory')
              h4 {{selectedStory.name}}
              button(type='button'
                      id='open-story-button',
                      class='btn btn-success',
                      ng-click='openStory()'
                      ng-show='!selectedStory.open') Open
              button(type='button'
                      id='open-story-button',
                      class='btn btn-danger',
                      ng-click='closeStory()'
                      ng-show='selectedStory.open') Close
      div.col-sm-3
        div.panel.panel-default
          div.panel-heading
            h3 Users
          div.panel-body
            .overflowable
              p(ng-repeat='user in users'){{user}}
              
    div.row
      div.col-sm-6.col-sm-offset-3
        div(role='tabpanel')
          ul#tabs.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
            li#create-story-tab(role='presentation')
              a(href='#create-story', aria-controls='create-story', role='tab', data-toggle='tab') Story
            li(role='presentation')
              a(href='#change-name', aria-controls='change-name', role='tab', data-toggle='tab') Change Name
          .tab-content
            #messages.tab-pane.active(role='tabpanel')
              div
                h3 Messages
                .overflowable
                  p(ng-repeat='message in messages'){{message.user}} says: {{message.text}}
            #create-story.tab-pane(role='tabpanel')
              div
                h3 Create Story
                  form(role='form'
                       ng-submit='createStory()')
                    .form-group
                      input#new-story-name.form-control(type='text'
                                                        placeholder='Story Name'
                                                        ng-model='newStoryName')
                      input.btn.btn-default(type='submit',
                                            value='Create Story')


            #change-name.tab-pane(role='tabpanel')
              div
                h3 Change your name
                form(role='form'
                      ng-submit='changeName()')
                  .form-group
                    input#new-name.form-control(type='text'
                                      placeholder='new name'
                                      ng-model='newName')
                    input.btn.btn-default(type='submit'
                                          value='Change name')

            
            

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')